*{
    box-sizing: border-box;
}
a {
    text-decoration: none;

}


.container {
    margin: 0 auto;
    width: 1280px;
}

.header-logo-link {
padding-top: 63px;
padding-bottom: 108px;
font-weight: 400;
font-size: 80px;
line-height: 94px;

color : #000000
#4BCAFF;
  }


.logo {
    color: 
    #4BCAFF;  
}

.menu {
    margin-top: 38px;
    display: flex;
    justify-content:center;
    margin-bottom: 48px;
    background-color: #35444F;
    border: 1px;
    list-style-type: none;
    
    

    }
    .menu {
        display: flex;
        
    }
  
.menu-item {
    padding-top: 26px;
    padding-bottom: 19px;
    border-left: 1px solid white;
    justify-content: center;

    }
      .menu-item:nth-child(1){
        padding-left: 32px;
        padding-right: 33px;
      }
      .menu-item:nth-child(2){
        padding-left: 38px;
        padding-right: 38px;
      }
      .menu-item:nth-child(3){
        padding-left: 40px;
        padding-right: 40px;
      }
      .menu-item:nth-child(4){
        padding-left: 40px;
        padding-right: 18px;
        border-right: 1px solid white;
      }
      .menu-item a{
        font-size: 24px;
        line-height: 28px;
        color: #ffffff;
        
      }
      .menu-item:hover{
        background-color: #222F3A;
      }
      
      .main {
        display: flex;
        
      }
      
      .menu-aside {
        padding-left: 0;
        height: fit-content;
        width: 344px;
        outline: none;
        border: 1px solid #000000;
        list-style-type: none;
      }
      .menu-item-aside a {
        font-weight: normal;
        font-size: 27px;
        line-height: 27px;
        color: #495863;
        padding: 27px 44px;
        display: block;
      }
      .menu-aside a:hover { 
        padding-left: 60px; 
        background-color: grey; 
        color: #000; 
      }
   

    
   .border-image {
    display: flex;
    border: 1px solid #000000;
    justify-content:center;
    margin-left: px;
   }
   
   

   .border-image-img {
    padding: 75px 0;
    
    
   }
   .content{
    width: 885px;
  margin-left: 53px;
   }
    
    .text {
    font-size: 18px;
    line-height: 24px;
    margin-top: 37px;
    color: #2C2C2C;
}
     .footer {
        background: rgba(99, 105, 110, 0.48);
        display: flex;
        justify-content: space-between;
        padding: 20px 40px;
        margin: 40px 0
        
}
  .menu-footer {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  font-size: 0;
   line-height: 0;
   letter-spacing: -1px
}
.menu-footer-item:nth-child(1){
  padding-top: 20px;
  padding-bottom: 20px;
  margin-left: px;
}
.menu-footer-item:nth-child(2){
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
.menu-footer-item:nth-child(3){
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  
}
.menu-footer-item:nth-child(4){
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  border-right: 1px 0solid white;
}

.menu-footer-item:nth-child(5){
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 20px;
  }

   .menu-footer-item a {
    font-size: 28px;
    line-height: 28px;
    color: #0C1927;
    display: inline-block;
}
   
   .menu-footer-item:hover {
    text-decoration: underline;
    color: 
    #0C1927; 
    background-color:
    #3181A6; 
     
    
  }

    .menu-footer-item a hover{
        color: #3181A6;
        display: block;
        background: #000;
        padding: 0 10px;
        font-size: 17px;
        line-height: normal;
        letter-spacing: normal;
        
      }
      
.footer-copuright
{
    font-size: 24px; 
    padding-top: 20px;  
}

    
        
